/* App.css */
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.App {
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100%;
}

.App-header {
  display: flex;
  align-items: center; /* Centraliza verticalmente o conteúdo */
  justify-content: space-between; /* Espaço entre o conteúdo e a imagem */
  height: 100%;
  padding: 0 20px; /* Espaçamento interno */
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centraliza itens */
  margin-right: 20px; /* Espaçamento entre o conteúdo e a imagem */
  justify-content: center; /* Centraliza verticalmente o texto e o botão */
}

.Quote {
  margin-bottom: 10px; /* Espaçamento entre a frase e o botão */
  text-align: center; /* Centraliza o texto */
  margin-left: 30vw;
  font-size: 25px;
}

button {
  background-color: #DC872C;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.2);
}

button:hover {
  background-color: #FF4500; /* Cor quando o mouse estiver em cima */
}

.naruto-image {
  max-width: 50%;
  height: auto;
}
